{{#if mutations}}
<section>
    <button id="toggleKilledMutations" onclick="toggleKilledMutations()">Hide killed mutations</button>
</section>
{{/if}}

<section>
    <code id="source"><ol>{{#each sourceLines}}<li>{{{this}}}</li>{{/each}}</ol></code>
</section>

<section>
    <h2>Mutations</h2>
    {{#if mutations}}
        <table id="mutations">
            <thead>
            <tr>
                <th>Mutation</th>
                <th>Result</th>
            </tr>
            </thead>
            <tbody>
            {{{mutations}}}
            </tbody>
        </table>
    {{ else }}
        <p>No mutations could be performed on this file</p>
    {{/if}}
</section>

<div id="popup" aria-hidden="true"></div>
