<section>
    <code id="source"><ol>{{#each sourceLines}}<li>{{{this}}}</li>{{/each}}</ol></code>
</section>

<section>
    <h2>Mutations</h2>
    <table id="mutations">
        <thead>
        <tr>
            <th>Mutation</th>
            <th>Result</th>
        </tr>
        </thead>
        <tbody>
        {{{mutations}}}
        </tbody>
    </table>
</section>

<div id="popup" aria-hidden="true"></div>
