{{#if mutations}}
<section>
    <button id="toggleKilledMutations" onclick="toggleKilledMutations()">Hide killed mutations</button>
</section>
{{/if}}

<section>
    <code id="source"><ol>{{#each sourceLines}}<li>{{{this}}}</li>{{/each}}</ol></code>
</section>

<section>
    <h2>Mutations</h2>
    {{#if mutations}}
        <table id="mutations">
            <thead>
            <tr>
                <th>Mutation</th>
                <th>Result</th>
            </tr>
            </thead>
            <tbody>
            {{{mutations}}}
            </tbody>
        </table>
    {{ else }}
        <p>
            No mutations could be performed on this file. This may be due to one of the following reasons:
        </p>
        <ul>
            <li>No unit tests exist for this file</li>
            <li>No specs were configured for this file</li>
            <li>Unit tests are failing already without applying any mutations</li>
            <li>All possible mutations in this file were excluded</li>
        </ul>
    {{/if}}
</section>

<div id="popup" aria-hidden="true"></div>
