<section>
    <table id="files">
        <thead>
        <tr>
            <th colspan="2">File</th>
            <th colspan="2">Success rate</th>
            <th colspan="2">Killed</th>
            <th colspan="2">Survived</th>
            <th colspan="2">Ignored</th>
            <th colspan="2">Untested</th>
        </tr>
        </thead>
        <tbody>
        {{{rows}}}
        </tbody>
    </table>
</section>
